In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
from matplotlib import pyplot as plt
import os
import pandas as pd
import seaborn as sns

In [3]:
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)

In [5]:
data_dir = '../input/data_set_phase1/'

build_dir = '../build/'
feature_dir = os.path.join(build_dir, 'feature')
val_dir = os.path.join(build_dir, 'val')
tst_dir = os.path.join(build_dir, 'tst')
sub_dir = os.path.join(build_dir, 'sub')
model_dir = os.path.join(build_dir, 'model')

profile_file = os.path.join(data_dir, 'profiles.csv')
train_click_file = os.path.join(data_dir, 'train_clicks.csv')
train_plan_file = os.path.join(data_dir, 'train_plans.csv')
train_query_file = os.path.join(data_dir, 'train_queries.csv')
test_plan_file = os.path.join(data_dir, 'test_plans.csv')
test_query_file = os.path.join(data_dir, 'test_queries.csv')

In [7]:
profile = pd.read_csv(profile_file, index_col='pid')
print(profile.shape)
profile.head()

(63090, 66)

,p0,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17,p18,p19,p20,p21,p22,p23,p24,p25,p26,p27,p28,p29,p30,p31,p32,p33,p34,p35,p36,p37,p38,p39,p40,p41,p42,p43,p44,p45,p46,p47,p48,p49,p50,p51,p52,p53,p54,p55,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
pid,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
196356,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204083,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
170667,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
115511,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
129719,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
trn_clk = pd.read_csv(train_click_file, index_col='sid', parse_dates=['click_time'])
print(trn_clk.shape)
trn_clk.head()

(453336, 2)

                 click_time  click_mode
sid
2848914 2018-11-17 18:42:17           1
2629085 2018-10-12 16:28:13           3
602598  2018-11-11 16:38:42           2
2022975 2018-10-14 12:28:11           9
988425  2018-11-12 16:47:30           7

In [9]:
trn_clk.click_mode.value_counts()

2     136491
7      78209
1      70369
9      48864
5      47480
3      24626
10     14882
4      12606
6      11863
11      6089
8       1857
Name: click_mode, dtype: int64

In [11]:
trn_clk.click_time.min(), trn_clk.click_time.max()

(Timestamp('2018-10-01 00:00:11'), Timestamp('2018-12-31 16:30:16'))

In [13]:
trn_pln = pd.read_csv(train_plan_file, index_col='sid', parse_dates=['plan_time'])
print(trn_pln.shape)
trn_pln.head()

(491054, 2)

                  plan_time                                              plans
sid
1709112 2018-11-04 11:45:04  [{"distance": 32303, "price": 600, "eta": 5087...
3327773 2018-10-16 19:09:29  [{"distance": 3427, "price": 300, "eta": 627, ...
3285959 2018-11-25 15:05:22  [{"distance": 36234, "price": 1100, "eta": 931...
1616170 2018-10-03 14:42:40  [{"distance": 11450, "price": 400, "eta": 2801...
351369  2018-10-05 19:52:37  [{"distance": 18495, "price": 600, "eta": 4271...

In [15]:
trn_pln.plans.iloc[0]

'[{"distance": 32303, "price": 600, "eta": 5087, "transport_mode": 9}, {"distance": 33678, "price": "", "eta": 3149, "transport_mode": 3}, {"distance": 33678, "price": 10000, "eta": 3269, "transport_mode": 4}, {"distance": 32099, "price": 600, "eta": 5996, "transport_mode": 2}, {"distance": 30446, "price": 900, "eta": 6494, "transport_mode": 1}]'

In [17]:
trn_pln['plan_count'] = trn_pln.plans.apply(lambda x: len(eval(x)))
trn_pln.plan_count.describe()

count    491054.000000
mean          4.636602
std           1.079817
min           1.000000
25%           4.000000
50%           5.000000
75%           5.000000
max           7.000000
Name: plan_count, dtype: float64

In [19]:
trn_qry = pd.read_csv(train_query_file, index_col='sid', parse_dates=['req_time'])
print(trn_qry.shape)
trn_qry.head()

(500000, 4)

              pid            req_time             o             d
sid
3000821       NaN 2018-11-02 17:54:30  116.29,39.97  116.32,39.96
3085857  210736.0 2018-11-16 10:53:10  116.39,39.84  116.33,39.79
2944522       NaN 2018-10-06 10:33:58  116.31,39.93  116.27,40.00
559931   202427.0 2018-11-23 14:54:11  116.27,39.88  116.39,39.90
2819352  172251.0 2018-10-30 11:48:41  116.34,39.96  116.37,39.86

In [32]:
len('AvengersEnsembl')

15